@tailwind base;
@tailwind components;
@tailwind utilities;

main.appContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Personalizando o RC-Slider */

.rc-slider-rail {
  background-color: rgba(255, 255, 255, .55) !important;
}

.rc-slider-track {
  background-color: #FFFFFF !important;
}

.rc-slider:hover .rc-slider-track {
  background-color: #04d361 !important;
}

.rc-slider-handle {
  border-color: #FFFFFF !important;
  visibility: hidden !important;
  cursor: default !important;
}

.rc-slider:hover .rc-slider-handle {
  visibility: visible !important;

}

.rc-slider-handle.rc-slider-handle-dragging {
  box-shadow: 0 0 0 0 transparent !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 0 0 transparent !important;
}