.navigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12px;
    background-color: #5B6143;
    height: 100vh;
    width: 85px;
}

.navigationContainer div.divLogo img {
    width: 60px;
    height: 60px;
}

.navigationContainer div.navIcons {
    display: flex;
    flex-direction: column;
    gap: 21px;
}