@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pageContent {
  height: calc(100dvh - 0.5rem);
}

/* Personalizando o RC-Slider */

.music-slider .rc-slider-rail {
  background-color: rgba(255, 255, 255, .55) !important;
}

.music-slider .rc-slider-track {
  background-color: #FFFFFF !important;
}

.rc-slider.music-slider:hover .rc-slider-track {
  background-color: #04d361 !important;
}

.music-slider .rc-slider-handle {
  transition: opacity .3s ease-in-out;
  border-color: #FFFFFF !important;
  opacity: 0 !important;
  cursor: default !important;
}

.rc-slider.music-slider:hover .rc-slider-handle {
  opacity: 1 !important;
}

.music-slider .rc-slider-handle.rc-slider-handle-dragging {
  box-shadow: 0 0 0 0 transparent !important;
  opacity: 1 !important;
}

.music-slider .rc-slider-handle:active {
  box-shadow: 0 0 0 0 transparent !important;
  opacity: 1 !important;
}

.volume-slider .rc-slider-rail {
  background-color: rgba(255, 255, 255, .55) !important;
}

.volume-slider .rc-slider-track {
  background-color: #FFFFFF !important;
}

.rc-slider.volume-slider:hover .rc-slider-track {
  background-color: #04d361 !important;
}

.volume-slider .rc-slider-handle {
  transition: opacity .3s ease-in-out;
  border-color: #FFFFFF !important;
  opacity: 0 !important;
  cursor: default !important;
}

.rc-slider.volume-slider:hover .rc-slider-handle {
  opacity: 1 !important;
}

.volume-slider .rc-slider-handle.rc-slider-handle-dragging {
  box-shadow: 0 0 0 0 transparent !important;
  opacity: 1 !important;
}

.volume-slider .rc-slider-handle:active {
  box-shadow: 0 0 0 0 transparent !important;
  opacity: 1 !important;
}